

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Optional for a parallax effect */
  
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


